<div (click)="closeNoteForm($event)">
  <app-note-form></app-note-form>

  <div class="card-container">
    <div (click)="editNote(note.title, note.body, note.id)" *ngFor="let note of notes">
      <div>
        <ul>
          <li>
            <div class="note">

              <div class="noteBanner">
                <div class="closeArea" (click)="deleteNote(note.id)">
                  X
                </div>
                <div class="banner"></div>
              </div>

              <div class="noteBody">
                <h2> {{note.title}} </h2>
                <p>{{note.body}}</p>
                <p>{{note.id}}</p>
              </div>

            </div>
          </li>
        </ul>
      </div>
    </div>
    <br>
  </div>

</div>